<section class="home-section">
    <div class="container-fluid">
      <div class="row justify-content-between pt-5">
        <div class="col-1">
          <h3 style="font-size: 18px;">All files</h3>
        </div>
        <div class="col-1">
          <button class="btn btn-primary">+</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card card-block card-stretch card-height">
            <div class="car-body">
              <div class="table-responsive">
                <table class=" table mb-0 table-borderless tbl-server-info">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">File Name</th>
                      <th scope="col">Version</th>
                      <th scope="col">File Size</th>
                      <th scope="col">Create time</th>
                      <th scope="col">Download</th>
                      <th scope="col">Action</th>
            
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </section>